<h1>program.py</h1>

In [1]:
sum = 1 + 2
print(sum)

3

<h1>hola.py</h1>

In [2]:
print("Hola desde la consola")

Hola desde la consola

<h1>variables.py</h1>

In [3]:
sum = 1 + 2 # 3
product = sum * 2
print(product)

6

<h1>tiposDeDato.py</h1>

In [4]:
planetas_en_el_sistema_solar = 8 # int, plutón era considerado un planeta pero ya es muy pequeño
distancia_a_alfa_centauri = 4.367 # float, años luz
puede_despegar = True
transbordador_que_aterrizo_en_la_luna = "Apollo 11" # string

# Descubirmos su tipo de dato
type(distancia_a_alfa_centauri)

float

<h1>MI PRIMER PROGRAMA</h1>

In [20]:
from datetime import date

print("Today's date is:", date.today().strftime("%Y/%m/%d"))

Today's date is: 2022/02/09

<h1>CONVERTIDOR DE UNIDADES</h1>

In [22]:
parsec = 11
lightyears = 3.2616 * parsec # Fuente: https://www.metric-conversions.org/es/longitud/parsecs-a-anos-luz.htm

print(str(parsec) + " parsec, is " + str(lightyears) + " lightyears")

11 parsec, is 35.8776 lightyears

<em>Katas 1 Modulo 1: Lic. Jesus Humberto Rojas Rangel
<br/> Fecha: 2022/02/09</em>

Mis Redes:
* GitHub: [rojaslcc](https://www.github.com/rojaslcc/)
* Linkedin: [rojaslcc](https://www.linkedin.com/in/rojaslcc/)
* Twitter: [@rojaslcc](https://www.twitter.com/rojaslcc/)
* Instagram: [rojaslcc](https://www.instagram.com/rojaslcc/)